<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
 	<http security="none" pattern="*/styles/*"/>
 	<http security="none" pattern="*/js/*"/>
 	<http security="none" pattern="*/images/*"/>
 	<http security="none" pattern="/context/*"/>
 	<http security="none" pattern="*/webservices/*"/>
 	<http security="none" pattern="*/ajax/*"/>
 	<http security="none" pattern="*/popup/*"/>
	
	<!--<http pattern="/login*" security="none"/>
	<http pattern="/home*" security="none"/> -->
	
	<http auto-config="false" use-expressions="true">
		<!-- <intercept-url pattern="/abmProducto*" access="ROLE_USER" />
		<intercept-url pattern="/ingresoProducto*" access="ROLE_USER" />
		<intercept-url pattern="/egresoProducto*" access="ROLE_USER" />
		<intercept-url pattern="/ajusteProducto*" access="ROLE_USER" />
		<intercept-url pattern="/estadisticaVenta*" access="ROLE_USER" />
		<intercept-url pattern="/alertaProducto*" access="ROLE_USER" />
		<intercept-url pattern="/abmProveedor*" access="ROLE_USER" />
		<intercept-url pattern="/abmUsuario*" access="ROLE_USER" /> -->
		<intercept-url pattern="*/accessDenied.jsp" access="permitAll" />
		<intercept-url pattern="/abmUsuario**" access="hasRole('ROLE_ADMINISTRATOR')" />
		<access-denied-handler error-page="/accessDenied.do" />
		
		
						
		<!--<form-login 
			login-page="/login.jsp" 
            default-target-url="/login_load.do" 
			login-processing-url="/login_validateUser.do"
 			username-parameter="usuario"
 			password-parameter="password"
 			authentication-failure-url="/login_load.do"/>-->
 			<!--<form-login 
 				login-page='/login_load.do' 
 				default-target-url='/home.do'
 				username-parameter="username"
 				password-parameter="password"
          		always-use-default-target='true' 
          		authentication-failure-url="/login_load.do"/> -->
          	
          		
	</http>
 
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="root" password="root" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>
